<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpRuntime executionTimeout="240" maxRequestLength="1048576" />
    </system.web>
  <connectionStrings>
    <!--<add name="eleave" connectionString="data source=HS-PC15\SQLEXPRESS;initial catalog=e_leave;User ID=sa;Password=admin123." />-->
    <!--<add name="eleave" connectionString="data source=WIN-MF3SMFVCQKK\SQLEXPRESS;initial catalog=e_leave;User ID=sa;Password=admin123."/>-->
    <!--<add name="eleave" connectionString="data source=HS-PC;initial catalog=e_leave;User ID=sa;Password=admin123." />-->
  </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="MainPage.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
